@import '~@angular/material/theming';

@mixin shared-theme($theme, $themeName) {
    .flex-container {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .flex-item {
        flex: 0 0 auto;
        padding: 10px;
    }

    $primary: map-get($theme, primary);

    @warn "$themeName: #{$themeName}";

    .pokemon-label {
        color: mat-color($primary);
    }

    .pokemon-image {
        border: 1px solid mat-color($primary);
        background-image: url("assets/img/" + $themeName + "-logo.png");
        width: 250px;
        height: 236px;
    }
}